<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDuplexService" />
        <binding name="WSDualHttpBinding_IAuthenticationService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:27020/DuplexService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDuplexService" contract="IDuplexService"
                name="WSDualHttpBinding_IDuplexService">
        <identity>
          <userPrincipalName value="AKA\Aka" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:27020/AccountAuthenticator"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAuthenticationService"
                contract="AuthenticateService.IAuthenticationService" name="WSDualHttpBinding_IAuthenticationService">
        <identity>
          <userPrincipalName value="AKA\Aka" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>